.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom
  %h1.h2 Home
Welcome to the Rise Resource Provider App. Here, you can set up a resource provider compatible to the Rise API standard by creating or importing collections, resources, sections and content units. These will then be served by the API component of this app, on the /api/ path.